table {
	margin: 5px 10px 10px 10px;
	text-align: left;
	border: 3px solid black;
}
th, td {
	text-align: left;
	padding: 10px;
	border: 1px solid black;
}
th {
	text-align: center;
	font-weight: bold;
	border-bottom: 3px solid black;
	background: #444;
	color: #fff;
}
tr {
	background: #dfdfff;
}
tr:nth-child(even) {
	background: #d0d0ff;
}
tr:hover {
	background: #d9ffff;
}
h2 {
	margin: 20px 10px 0px 10px;
}